/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}
/* deal with float attribute, causing shrinking of float container element. */

.white-text {
  color: white !important;
}

#main {
}

#header {
  height: 46px;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0px 24px;
  display: block;
}

#nav li:hover .subnav {
  display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rbrg(0, 0, 0, 0.3);
}

#nav .subnav a {
  padding: 0 24px;
  color: black;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-btn {
  float: right;
  line-height: 46px;
  padding: 0px 21px;
}
#header .search-btn:hover {
  cursor: pointer;
  background-color: rgb(244, 67, 54);
}

#header .search-icon {
  color: white;
  font-size: 16px;
  font-weight: bolder;
}

#slider {
  background-color: gray;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/w3_band/assets/img/slider/slider1.jpg") top center / cover
    no-repeat;
  position: relative;
}

#slider .text-content {
  position: absolute;
  bottom: 48px;
  color: #fff;
  /* centering */
  /* left: 50%;
  transform: translateX(-50%);
  text-align: center; */
  width: 100%;
  text-align: center;
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
}

#slider .text-decsription {
  font-size: 15px;
  margin-top: 25px;
}

#content {
  height: 1000px;
  background-color: #fff;
}

#content .content-section {
  padding: 64px 0;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#content .section-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-bottom: 25px;
  font-style: italic;
  opacity: 0.7;
}

#content .about-text {
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
  /* overflow: hidden; */
}

#content .member-name {
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}

#content .member-item {
  float: left;
}

#content .member-item img {
  width: 154px;
  border-radius: 5%;
}

/* Tour Section */

#content .tour-section {
  background-color: #000;
}

.tour-section .tour-schedule {
  background-color: #fff;
}

.tour-schedule li {
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  color: #757575;
  list-style: none;
}

.tour-schedule .month-of-event {
}

.tour-schedule .sold-out {
  color: #fff;
  background-color: #f44336;
  padding: 3px 4px;
  margin-left: 16px;
  border-radius: 5px;
}

.tour-schedule .available-tours {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -2px;
  /*use margin with float (turn to block) */
}

/* Footer Section */
#footer {
}
